doctype html
html
  head
    meta(charset="utf-8")
    title 
      = title
    meta(name="description", content="#{description}")
    meta(name="keywords", content="#{keywords}")
    link(rel="stylesheet", type="text/css", href="/stylesheets/reset.css", media="all")
    link(rel="stylesheet", type="text/css", href="/stylesheets/cherry/style.css", media="all")
  body
    .wrapper
      .header
        .headerContent
          .left
            h1
              a(href="/")
                = siteName
            p 
              = siteDescription
          .right
            form.search
              input(type="text", placeholder="Искать...")
              input(type="image", src="/images/cherry/search.png", title="Искать")
      .slider
        .itemSlider
          .bgSlide
            img(src="/images/cherry/bg-slide.jpg")
          .descSlide
            h1 Заголовок
            p Какой-то текст
            span Еще один заголовок...
            p Тут идет очень длинный текст. Чем больше, тем лучше. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .nav
        ul.menu
          each m in menu
            li
              a(href=m.href)
                = m.title
      .breadcrumbs
        each c, id in breadcrumbs
          if id < breadcrumbs.length - 1
            a(href=c.href)
              = c.title
            |  / 
          else
            = c.title
      .main
        .leftCol
          form
            h2 Контакты
            each i in form.inputs
              input(type="text", placeholder=i)
            input(type="text", disabled="disabled", placeholder="Disabled")
            each i in form.inputs
              input(type="text", placeholder=i)
            select
              each i in form.select
                option
                  = i
            .row
              h4 Радио-кнопки
              each i in form.radio
                input(type="radio")
                label 
                  = i
                .clear
            .row
              h4 Чекбоксы
              each i in form.check
                input(type="checkbox")
                label 
                  = i
                .clear
            button(type="submit", class="minWidth") Подтвердить
            button(type="reset", class="minWidth") Отменить
          .row
            h2
              = sidebar.title
            p
              != sidebar.text
            p
              a(href="#") Читать далее
        .rightCol
          h1
            = article.title
          p
            != article.text
          ul.img
            each i in images
              li
                a(href="#")
                  img(src=i)
          h1 Списки
          .row
            .span
              h4 Со стилем <code>&lt;ul&gt;</code>
              ul
                each i in list
                  li
                    != i
            .span
              h4 Без стиля <code>&lt;ul class="unstyled"&gt;</code>
              ul(class="unstyled")
                each i in list
                  li
                    != i
            .span
              h4 Упорядоченные <code>&lt;ol&gt;</code>
              ol
                each i in list
                  li
                    != i
          h1 Таблицы
          table
            thead
              tr
                each t in table.titles
                  th
                    != t
            tbody
              each r in table.data
                tr
                  each c in r
                    td
                      != c
      .footer
        .footerContent
          .span1
            h1 
              = footer[0].title
            .borderBottom
            p 
              = footer[0].text
            ul(class="clock")
              each i in footer[0].list
                li
                  = i
            .social
              div Мы в социальных сетях: 
              ul
                each i in social
                  li
                    a(target="newtab", href=i.link)
                      img(src=i.image)
          .span1
            h1 
              = footer[1].title
            .borderBottom
            p 
              = footer[1].text
            ul
              each p in phones
                li
                  = p
            p
              strong
                = footer[1].ending
          .span1
            h1 
              = footer[2].title
            .borderBottom
            p 
              = footer[2].text
            ul(class="unstyled")
              li
                = companyName
              li
                a(href="mailto:" + companyEmail)
                  = companyEmail
              each a in companyAdress
                li
                  = a
